PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE android_metadata (locale TEXT);
INSERT INTO android_metadata VALUES('en_US');
CREATE TABLE `tasks` (`id` TEXT NOT NULL, `householdId` TEXT NOT NULL, `assignedUserId` TEXT NOT NULL, `title` TEXT NOT NULL, `description` TEXT, `todoGroup` TEXT NOT NULL, `estimatedDurationMinutes` INTEGER, `actualDurationMinutes` INTEGER, `status` TEXT NOT NULL, `dueDate` INTEGER, `createdAt` INTEGER NOT NULL, `updatedAt` INTEGER NOT NULL, `completedAt` INTEGER, `syncStatus` TEXT NOT NULL, `isDeleted` INTEGER NOT NULL, repeatRule TEXT NOT NULL DEFAULT 'once', estimatedDurationSeconds INTEGER, timerDurationMs INTEGER, PRIMARY KEY(`id`));
INSERT INTO tasks VALUES('10c1ad3b-28fb-4967-9d76-23ac6f9f9e5a','hh_b190b6ff-232b-42df-86a4-d65c45106057','8e7e6311-2148-4bb7-99cb-4d38ad57ee3a','do laundry','After School','After School',NULL,NULL,'INCOMPLETE',1777939200000,1776980413528,1777438820647,NULL,'SYNCED',1,'once',NULL,NULL);
INSERT INTO tasks VALUES('1a5cd572-39be-4254-a2b4-133c667af9d8','hh_b190b6ff-232b-42df-86a4-d65c45106057','8e7e6311-2148-4bb7-99cb-4d38ad57ee3a','Make bed','Morning','Morning',NULL,NULL,'INCOMPLETE',1775448000000,1773787981411,1773787981411,NULL,'SYNCED',0,'daily',NULL,NULL);
INSERT INTO tasks VALUES('1c438bef-c8d9-4205-a4b7-aecdb5cac883','hh_b190b6ff-232b-42df-86a4-d65c45106057','8e7e6311-2148-4bb7-99cb-4d38ad57ee3a','vitamins','Morning','Morning',NULL,NULL,'INCOMPLETE',1777420800000,1776980232554,1777462118165,NULL,'SYNCED',1,'once',NULL,NULL);
CREATE TABLE `users` (`id` TEXT NOT NULL, `householdId` TEXT NOT NULL, `email` TEXT NOT NULL, `displayName` TEXT NOT NULL, `avatarUrl` TEXT, `role` TEXT NOT NULL, `isPinProtected` INTEGER NOT NULL, `pinHash` TEXT, `createdAt` INTEGER NOT NULL, `updatedAt` INTEGER NOT NULL, PRIMARY KEY(`id`));
CREATE TABLE `user_preferences` (`userId` TEXT NOT NULL, `theme` TEXT NOT NULL, `visibleTodoGroups` TEXT NOT NULL, `notificationPreferences` TEXT NOT NULL, `dailyResetTime` TEXT NOT NULL, `affirmationFrequency` INTEGER NOT NULL, `enableGamification` INTEGER NOT NULL, `enableBadges` INTEGER NOT NULL, `enableStreaks` INTEGER NOT NULL, `enableEfficiencyMetrics` INTEGER NOT NULL, `timerDefaultDuration` INTEGER NOT NULL, `autoLogoutTimeout` INTEGER NOT NULL, PRIMARY KEY(`userId`), FOREIGN KEY(`userId`) REFERENCES `users`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE );
CREATE TABLE `current_user` (`id` TEXT NOT NULL, `userId` TEXT NOT NULL, `householdId` TEXT NOT NULL, `lastSwitchTime` INTEGER NOT NULL, `sessionStartTime` INTEGER NOT NULL, PRIMARY KEY(`id`), FOREIGN KEY(`userId`) REFERENCES `users`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE );
CREATE TABLE `affirmations` (`id` TEXT NOT NULL, `type` TEXT NOT NULL, `message` TEXT NOT NULL, `tone` TEXT NOT NULL, `ageAppropriatenessLevel` INTEGER NOT NULL, `createdAt` INTEGER NOT NULL, PRIMARY KEY(`id`));
INSERT INTO affirmations VALUES('affirmation_task_0','TASK_COMPLETION','Great job!','ENCOURAGING',3,1777548090132);
INSERT INTO affirmations VALUES('affirmation_task_1','TASK_COMPLETION','You''re on a roll!','ENCOURAGING',3,1777548090133);
INSERT INTO affirmations VALUES('affirmation_task_2','TASK_COMPLETION','Awesome work!','ENCOURAGING',3,1777548090133);
CREATE TABLE `badges` (`id` TEXT NOT NULL, `householdId` TEXT NOT NULL, `userId` TEXT NOT NULL, `badgeType` TEXT NOT NULL, `name` TEXT NOT NULL, `description` TEXT, `iconUrl` TEXT, `earnedAt` INTEGER NOT NULL, `progress` INTEGER, `isLocked` INTEGER NOT NULL, PRIMARY KEY(`id`));
CREATE TABLE `streaks` (`id` TEXT NOT NULL, `userId` TEXT NOT NULL, `householdId` TEXT NOT NULL, `currentCount` INTEGER NOT NULL, `bestCount` INTEGER NOT NULL, `lastCompletionDate` TEXT, `startDate` TEXT, `updatedAt` INTEGER NOT NULL, PRIMARY KEY(`id`));
CREATE TABLE `efficiency_metrics` (`id` TEXT NOT NULL, `taskId` TEXT NOT NULL, `userId` TEXT NOT NULL, `householdId` TEXT NOT NULL, `estimatedDurationMinutes` INTEGER, `actualDurationMinutes` INTEGER, `efficiencyPercentage` REAL, `completedAt` INTEGER NOT NULL, PRIMARY KEY(`id`), FOREIGN KEY(`taskId`) REFERENCES `tasks`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE , FOREIGN KEY(`userId`) REFERENCES `users`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE );
CREATE TABLE `sync_queue` (`id` TEXT NOT NULL, `taskId` TEXT NOT NULL, `userId` TEXT NOT NULL, `operation` TEXT NOT NULL, `payload` TEXT NOT NULL, `timestamp` INTEGER NOT NULL, `retryCount` INTEGER NOT NULL, PRIMARY KEY(`id`), FOREIGN KEY(`taskId`) REFERENCES `tasks`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE , FOREIGN KEY(`userId`) REFERENCES `users`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE );
CREATE TABLE `offline_update_queue` (`id` TEXT NOT NULL, `taskId` TEXT NOT NULL, `userId` TEXT NOT NULL, `updateType` TEXT NOT NULL, `payload` TEXT NOT NULL, `timestamp` INTEGER NOT NULL, `applied` INTEGER NOT NULL, PRIMARY KEY(`id`), FOREIGN KEY(`taskId`) REFERENCES `tasks`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE , FOREIGN KEY(`userId`) REFERENCES `users`(`id`) ON UPDATE NO ACTION ON DELETE CASCADE );
CREATE TABLE room_master_table (id INTEGER PRIMARY KEY,identity_hash TEXT);
INSERT INTO room_master_table VALUES(42,'f486c22186699ca690d3191eb3f1e66b');
CREATE INDEX `index_tasks_householdId` ON `tasks` (`householdId`);
CREATE INDEX `index_tasks_assignedUserId` ON `tasks` (`assignedUserId`);
CREATE INDEX `index_tasks_status` ON `tasks` (`status`);
CREATE INDEX `index_tasks_syncStatus` ON `tasks` (`syncStatus`);
CREATE INDEX `index_tasks_todoGroup` ON `tasks` (`todoGroup`);
CREATE INDEX `index_tasks_dueDate` ON `tasks` (`dueDate`);
CREATE INDEX `index_tasks_createdAt` ON `tasks` (`createdAt`);
CREATE INDEX `index_tasks_updatedAt` ON `tasks` (`updatedAt`);
CREATE INDEX `index_tasks_isDeleted` ON `tasks` (`isDeleted`);
CREATE INDEX `index_tasks_householdId_status` ON `tasks` (`householdId`, `status`);
CREATE INDEX `index_tasks_assignedUserId_status` ON `tasks` (`assignedUserId`, `status`);
CREATE INDEX `index_tasks_householdId_todoGroup` ON `tasks` (`householdId`, `todoGroup`);
CREATE INDEX `index_tasks_assignedUserId_todoGroup` ON `tasks` (`assignedUserId`, `todoGroup`);
CREATE INDEX `index_tasks_householdId_syncStatus` ON `tasks` (`householdId`, `syncStatus`);
CREATE INDEX `index_tasks_assignedUserId_syncStatus` ON `tasks` (`assignedUserId`, `syncStatus`);
CREATE INDEX `index_users_householdId` ON `users` (`householdId`);
CREATE INDEX `index_users_email` ON `users` (`email`);
CREATE INDEX `index_users_role` ON `users` (`role`);
CREATE INDEX `index_users_householdId_role` ON `users` (`householdId`, `role`);
CREATE INDEX `index_affirmations_type` ON `affirmations` (`type`);
CREATE INDEX `index_affirmations_tone` ON `affirmations` (`tone`);
CREATE INDEX `index_affirmations_ageAppropriatenessLevel` ON `affirmations` (`ageAppropriatenessLevel`);
CREATE INDEX `index_affirmations_createdAt` ON `affirmations` (`createdAt`);
CREATE INDEX `index_efficiency_metrics_taskId` ON `efficiency_metrics` (`taskId`);
CREATE INDEX `index_efficiency_metrics_userId` ON `efficiency_metrics` (`userId`);
CREATE INDEX `index_efficiency_metrics_householdId` ON `efficiency_metrics` (`householdId`);
CREATE INDEX `index_efficiency_metrics_completedAt` ON `efficiency_metrics` (`completedAt`);
CREATE INDEX `idx_user_completed_at` ON `efficiency_metrics` (`userId`, `completedAt`);
CREATE INDEX `idx_household_completed_at` ON `efficiency_metrics` (`householdId`, `completedAt`);
CREATE INDEX `index_sync_queue_taskId` ON `sync_queue` (`taskId`);
CREATE INDEX `index_sync_queue_userId` ON `sync_queue` (`userId`);
CREATE INDEX `index_sync_queue_operation` ON `sync_queue` (`operation`);
CREATE INDEX `index_sync_queue_timestamp` ON `sync_queue` (`timestamp`);
CREATE INDEX `index_sync_queue_retryCount` ON `sync_queue` (`retryCount`);
CREATE INDEX `index_sync_queue_userId_timestamp` ON `sync_queue` (`userId`, `timestamp`);
CREATE INDEX `index_sync_queue_operation_timestamp` ON `sync_queue` (`operation`, `timestamp`);
CREATE INDEX `index_sync_queue_retryCount_timestamp` ON `sync_queue` (`retryCount`, `timestamp`);
CREATE INDEX `index_offline_update_queue_taskId` ON `offline_update_queue` (`taskId`);
CREATE INDEX `index_offline_update_queue_userId` ON `offline_update_queue` (`userId`);
CREATE INDEX `index_offline_update_queue_timestamp` ON `offline_update_queue` (`timestamp`);
CREATE INDEX `index_offline_update_queue_userId_timestamp` ON `offline_update_queue` (`userId`, `timestamp`);
CREATE INDEX `index_offline_update_queue_applied` ON `offline_update_queue` (`applied`);
COMMIT;
